<div class="motd"></div>
<style>
    #header {
        background-color: #f8f8f8;
        padding: 1%;
        margin-bottom: 1%;
    }

    #header h1 {
        text-decoration:none;
        border:0;
        width : 250px;
        height : 55px;
        margin : 0;
        padding : 0;
        font-size: 1.2em;
        float: left;
        background : url(/images/logo-ex-white.png?v7) no-repeat 0 0;
    }
</style>