<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="{{ _charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tricae">
    <meta name="robots" content="noindex,nofollow" />

    <title>{% block title %}{% endblock %}</title>

    {% block assets %}
    <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" />
    {% endblock %}

    <meta name="description" content="Tricae External Shop">
</head>
<body>{% block content %}{% endblock %}</body>
</html>
