/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
.idea/*
/docker/volumes/*
!/docker/volumes/elk/logstash/
/app/data/*
!app/data/upload/.gitkeep
docker-compose.yml
clover.xml
/build/*
/web/doc/
/src/HelperBundle/Command/DevData.php
/src/HelperBundle/Command/TestData.php
/src/HelperBundle/Command/StagingData.php
/src/HelperBundle/Command/ProdData.php
/app/config/supervisor-consumers.conf
*.json.tmp
