{% extends "base.html.twig" %}

{% block title %}Categorias{{ parent() }}{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Categorias</h2>
        </div>
    </div>

<div class="row" id="productContent">
    <div class="col-lg-12">


        <table class="table table-bordered table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>ID Seller</th>
                <th>nome</th>
                <th>chave</th>
                <th>criado</th>
                <th>atualizado</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td colspan="5">Nenhuma categoria para seller</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
{% endblock %}
